<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/websiteBase::Layout(~{::section})">
<!-- passing whole section of home.html to base.html-->
<head>
    <meta charset="UTF-8">
    <title>This is about page</title>
</head>

<body>
<!--section will return to base page-->
<section>
<!-- -->
    <div class="card">
<!--        -->
        <div class="card-body">
            <h1 class="text-center"> Add course
            </h1>
<!--            container-->
            <div class ="container">
                <div class="row">
<!--                    -->
                    <div class="col-md-6 offset-md-3">
<!--                        getting object fields in form-->
                        <form action="#" th:object="${course}" enctype="multipart/form-data" method="POST" th:action="@{/user/process-course}" class="mt-2">

<!--            first name -->
                            <div class="input-group mt-3">
                                <input type="text" id="courseName" name="name" placeholder="Enter Name here" class="form-control"/>
                            </div>
<!--                            second name-->
                            <div class="input-group mt-3">
                                <input type="text" id="secondName" name="credits" placeholder="Enter  Second Name here" class="form-control"/>
                            </div>
<!--                            ....-->
                            <div class="input-group mt-3">
                                <input type="text" id="phone" name="phone" placeholder="Enter phone number here" class="form-control"/>
                            </div>
<!--                            -->
                            <div class="input-group mt-3">
                                <input type="text" id="email" name="email" placeholder="Enter email here" class="form-control"/>
                            </div>
<!--                            -->
<!--                            for work of course-->
                            <div class="input-group mt-3">
                                <input type="text" id="work" name="work" placeholder="Enter work here" class="form-control"/>
                            </div>
<!-- -->
<!--                            description-->
                            <div class="form-group mt-3">
                                <textarea placeholder="Enter course description" name="description" id="description" class="form-control" rows="10"></textarea>

                            </div>
<!-- container-->
                            <div class="container text-center">
                                <button class="btn btn-outline-primary"> Save Courses</button>
<!--save ocurse-->
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>