<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="websiteBase::Layout(~{::section})">
<!-- passing whole section of home.html to base.html-->
<head>
    <meta charset="UTF-8">
    <title>This is about page</title>
</head>
<body>
<h2 class="heading">About us</h2>
<!-- about us page-->
    <section class="about">
<!--        content box-->
      <div class="contentBx">
<!--          title-->
        <h2 class="heading text-dark">About us</h2>
          <div class="side-container">
        <p class="text"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum consequuntur architecto
            veritatis repellendus
            blanditiis aperiam voluptatem, quam tempore asperiores accusamus ex temporibus iure porro. Ab cum totam
            illo
            laudantium aliquid! <br><br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto totam
            veniam aut, in eos minus sapiente suscipit officiis voluptas repudiandae provident debitis nam
            consectetur, quod sed nobis amet! Dolor, nihil.
        </p>
<!--              ..-->
<!--              image-->
              <img src="../images/img1.jpg">
          </div>
      </div>
<!---->
    </section>
<!--section for service-->
    <section class="services">
<!--        headings-->
        <h2 class="heading">
            Our Services
        </h2>
<!--        //-->
<!--        text-->
        <p class="text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt minima explicabo esse, sint quas
            perferendis. Quo dolorum numquam tempora et accusantium cumque velit totam animi dolorem vel amet,
            asperiores voluptatibus?
        </p>
<!--        container for service box-->
        <div class="container">
            <div class="serviceBx">
                <div>
                    <img src="../images/icon1.png" alt="">
                    <h2>Design</h2>
                </div>
            </div>
<!--            images-->
            <div class="serviceBx">
                <div>
                    <img src="../images/icon2.png" alt="">
                    <h2>Development</h2>
                </div>
            </div>
<!--            development-->
            <div class="serviceBx">
                <div>
                    <img src="../images/icon3.png" alt="">
                    <h2>Branding</h2>
                </div>
<!--                advertisement-->
            </div>
        </div>
    </section>
<!---->
    <section class="technology">
<!--        for content bos-->
        <div class="contentBx">
<!--            .-->
            <h2 class="heading">We use cutting edge technology</h2>
<!--            ..-->
            <p class="text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro maxime sit fugiat illo ducimus inventore
                distinctio placeat esse voluptate nam dignissimos perferendis tempore tempora, ex totam alias! Eveniet,
                provident temporibus!
            </p>
<!--            ..-->
        </div>
<!--        ..-->
<!--        for image in side-->
        <div class="imgBx">
            <img src="../images/tech.png" alt="">
        </div>
    </section>
<!--..-->
</body>
</html>